




footer {
    background: black;
    color: white;
    padding: 9px 12px;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
}



.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 2px 2px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 10px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 16px;
    background-color: inherit;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    margin-right: 600px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(231, 154, 144);
    color: #141313;
    border: 0px solid black;
    border-radius: 3px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #131111;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .header {
    background: rgb(255, 254, 254);
    padding: 16px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #fff;
    color: rgb(226, 161, 161);
}

/* Create three equal columns that floats next to each other */
.column {
    border-top: 6px solid rgb(156, 150, 149);
    ;
    float: left;
    width: 20%;
    padding: 3px;
    background-color: rgb(161, 156, 156);
    height: 440px;
    color: black;
}

.column a {
    float: none;
    color: black;
    padding: 3px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.vl {
    border-left: 1px solid rgb(70, 71, 70);
    height: 400px;
    position: absolute;
    left: 25%;
    margin-left: -3px;
    top: 0;
}

.v2 {
    border-left: 1px solid rgb(241, 243, 241);
    height: 400px;
    position: absolute;
    left: 67%;
    margin-left: -3px;
    top: 0;
}

.column a:hover {
    color: #050505;
    border-radius: 6px;

}

#navbar a:hover {
    color: #000000;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column h3 {
    color: rgb(15, 14, 14);
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 4px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        height: auto;
    }
}

.e-container {
    justify-content: center;
    align-items: center;
}

.e-container .e-row {
    display: flex;
    flex-wrap: wrap;
}

.e-container .e-row .e-col img {
    height: 300px;
    width: 290px;

}

.e-col {
    width: 25%;
    text-align: center;
}

.e-col:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.e-container {
    max-width: 1270px;
    margin: 0 auto;
}

.e-container .e-row .e-col p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    font-style: bold;
    font-weight: 600;
    color: rgb(78, 61, 16);
}

.p_container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.p_container .row {
    margin: 15px;
    padding: 20px;
    border: 1px solid rgb(255, 254, 254);
    background-color: rgb(255, 248, 248);
    box-shadow: 3px 4px #d3d1d1;
    border-radius: 4px;
}

.p_container .row .col {
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 147px;


}

.p_container .row .col img {
    height: 100px;
    width: 100px;
    transition: all .5s ease;
}

.p_container .row .col p {
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 100%;
    color: #8e410c;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s ease;
    margin: 10px;

}

.p_container .row:hover img {
    transform: scale(1.2);
}

.p_container .row:hover {

    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.192),
        -2px -4px 5px 0px rgba(0, 0, 0, 0.192);
}

#services .box img:hover {
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.192),
        -3px -5px 5px 0px rgba(0, 0, 0, 0.192);
}

.container {
    background-color: whitesmoke;
}

.container .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container .row .col {

    height: 120px;
    width: 115px;
    border: 0px solid rgb(197, 195, 189);
    margin: 10px 20px;
    box-shadow: 3px 4px 2px rgb(197, 195, 189);
}

.container .row .col:hover {
    box-shadow: 3px 4px 2px rgb(197, 195, 189), -3px -4px 2px rgb(197, 195, 189);
}

.container .row .col .card {
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 200px;
}

.container .row .col .card img {
    margin-left: 22px;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
}


.container .row .col .card h5 {
    font-family: 'Playfair Display', serif;
    color: rgb(51, 51, 45);
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    margin: 2px 7px;
}

.container .row .col .card p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 51, 45);
    text-align: center;
    font-size: 1.2rem;
    margin: 2px 30px;

}

.container .row .col .card .card-body button {
    margin-left: 50px;
    background-color: rgb(49, 172, 33);
    text-decoration: none;
    border-radius: 10px;
}

h5 {
    font-family: 'Playfair Display', serif;
    color: rgb(51, 51, 45);
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 15px;


}

.btn {
    margin: 1px;
    justify-content: center;
    align-items: center;
    padding: 5px 2px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    transition: all 0.2s ease-out 0s;
}


/* Import Google Font - Poppins */

.price-box {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25vh;
    background: whitesmoke;
    font-family: 'Rubik', sans-serif;
}

.price-wrapper {
    width: 500px;
    background-color: rgb(197, 195, 189);
    border-radius: 10px;
    padding: 10px 12px 28px;
    margin: 20px;

}

::selection {
    color: #fff;
    background: #17A2B8;
}

header h2 {
    font-size: 24px;
    font-weight: 600;
}

header p {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 200;
}

.price-input {
    width: 100%;
    display: flex;
    margin: 13px 0 20px;
}

.price-input .field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
}

.field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 20px;
    font-weight: 200;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    font-weight: 200;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}

.slider .progress {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: #17A2B8;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.carat-wrapper {
    width: 500px;
    background-color: rgb(197, 195, 189);
    border-radius: 10px;
    padding: 20px 25px 40px;
    margin: 20px;

}

#table {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.table-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.table-container .table .row1 .d-img img {
    height: 30px;
    width: 30px;
}

.table-container .table thead {
    background-color: rgb(14, 14, 14);
}

.table-container .table tr th {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin: 10px 10px;
    padding: 15px 45px;
    color: white;
}

.table-container .table tbody .row1 td {
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
    padding: 3px 0px 3px 20px;
    font-size: 23px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-align: center;

}

/* input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  } */