<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Linking the stylesheet -->
    {% block title %} {% endblock %}

    {% block css %}
    <link rel="stylesheet" href="basic.css"> {% endblock %}
     {% block css1 %} {% endblock %}
    <script src="https://kit.fontawesome.com/0091fe2ea3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Linking the Jquery script  -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <nav>
        <div id="logo">
            <img src='{% static "r_assets/img/gemsmadala-removebg.png" %}' alt="Ram Elegancy.com">
        </div>
        <div class="logo">
            Ram Elegancy
        </div>

        <div class="nav-items">

            <!-- The Menu items -->
            <li><a href="#">HOME</a></li>
            <li class="dropdown"><a href="#">GEMSTONES</a><i class="fa fa-caret-down" style="color: #fff;"></i>

                <div class="dropdown-content">
                    <div class="row">
                        <div class="v1"></div>
                        <div class=" column">
                            <h3>Precious stones</h3>
                            <a href="#">Diamond</a>
                            <a href="#">Emerald</a>
                            <a href="#">Ruby</a>
                            <a href="#">Yellow Sapphire</a>
                            <a href="#">Blue Sapphire</a>
                            <a href="#">Cats Eye</a>
                            <a href="#">Coral</a>
                            <a href="#">Pearl</a>
                            <a href="#">Hessonite-Garnet</a>
                        </div>

                        <div class="v2"></div>
                        <div class="column2 column">
                            <h3>Semi precious stones</h3>
                            <div class="row">
                                <div class="column">
                                    <a href="#">Amethyst
                                        <a href="#">Citrine (Sunela)</a>
                                        <a href="#">Fire Opal</a>
                                        <a href="#">Garnet</a>
                                        <a href="#">Iolite (Neeli)</a>
                                        <a href="#">Navratna</a>
                                        <a href="#">Opal</a>
                                        <a href="#">Peridot</a>
                                        <a href="#">Pitambari Neelam</a>
                                        <a href="#">Turquoise (Firoza)</a>
                                        <a href="#">White Coral</a>
                                        <a href="#">Yellow Topaz</a>
                                        <a href="#">Zircon</a>

                                </div>
                                <div class="column">
                                    <a href="#">Alexandrite</a>
                                    <a href="#">Burmese Ruby</a>
                                    <a href="#">Colombian Emerald</a>
                                    <a href="#">Cornflower Blue Sapphire</a>
                                    <a href="#">Kashmir Blue Sapphire</a>
                                    <a href="#">No Oil Emerald</a>
                                    <a href="#">Padparadscha</a>
                                    <a href="#">Panjshir Emerald</a>
                                    <a href="#">Paraiba Tourmaline</a>
                                    <a href="#">Pigeon Blood Ruby</a>
                                    <a href="#">Pink Sapphire</a>


                                </div>
                                <div class="column">
                                    <a href="#"> Amber</a>
                                    <a href="#"> Ametrine</a>
                                    <a href="#"> Aquamarine</a>
                                    <a href="#"> Blue Topaz</a>
                                    <a href="#"> Kyanite</a>
                                    <a href="#"> Lapis Lazuli</a>
                                    <a href="#">Moldavite</a>
                                    <a href="#"> Moonstone</a>
                                    <a href="#"> Star Ruby</a>
                                    <a href="#"> Tourmaline</a>
                                    <a href="#">Spinel</a>
                                    <a href="#">Blue Zircon</a>
                                    <a href="#">Royal Blue Sapphire</a>
                                    <a href="#">Tanzanite</a>

                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <h3>Jewellery</h3>
                            <a href="#">Pendent</a>
                            <a href="#">Mangalsutra</a>
                            <a href="#">Bracelet</a>
                            <a href="#">Bangels</a>
                            <a href="#">Necklace</a>
                            <a href="#">Ear-Ring</a>
                        </div>
                    </div>
                </div>

            </li>
            <li><a href="#">CONTACT US</a></li>
        </div>

        <!-- Defining the search bars -->
        <div class="searchbar">
            <input type="text" placeholder="search">
            <div class="icon">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <a href="#">
            <i class="fas fa-heart" fa-2x" style="color: white;">
            </i>
        </a>


        <a href="checkout">
            <i class="fa fa-shopping-bag" aria-hidden="true" fa-2x" style="color: white;"><sup>(<span id="count_cart">0</span>)</sup>
            </i>
        </a>

        <!-- Defining the login button -->
        <div class="licon">
            <li class="a-dropdown" onclick="myFunction()">
                <a href="#">
                    <i class="fas fa-user-circle
						fa-2x" style="color: white;"> </a></i>
                <div class="a-dropdown-content" id="myDIV">
                    <div class="a-asked">
                        <p>Already Registerd?</p>
                        <a href="#" id="create">Create an Account</a>
                    </div>
                    <hr>
                    <div class="a-asked">
                        <p>Already Registerd?</p>
                        <a href="#" id="login">Log In</a>
                    </div>
                    <hr>
                    <div class="login-with-fb">
                        <div class="face">
                            <p>Login with <br>FaceBook</p>
                            <a href="#" class="facebookbtn"><span><i class="fab fa-facebook-f fa-2x"
                                        style="color:white;">
                                    </i></span></a>
                        </div>
                        <!-- </div> -->
                        <!-- <div class="login-with-fb"> -->
                        <div class="g">
                            <p>Login with <br>Google</p>
                            <a href="#" class="googlebtn"><span><i class="fab fa-google-plus fa-2x"
                                        style="color:white;"></i></span></a>
                        </div>
                    </div>
                </div>
            </li>
        </div>
        </a>
        </div>
    </nav>

    <div id="image-category">

    </div>

{% block body %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    {% block js %} 
    <script>

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        if (localStorage.getItem('stone_cart') == null) {
            var cart_list = {};
        }
        else {
            cart_list = JSON.parse(localStorage.getItem('stone_cart'));
            document.getElementById('count_cart').innerHTML = Object.keys(cart_list).length;
        }
        $('.cart').click(function () {
            var idstr = this.id.toString();
            console.log(idstr);
            if (cart_list[idstr] != undefined) {
                qty = cart_list[idstr] + 1;
                cart_list[idstr] = cart_list[idstr] + 1;
                // console.log(cart_list[idstr]);
            }
            else {
                cart_list[idstr] = 1;
                // updateCart(cart_list);
                qty = 1;
                cart_list[idstr] = qty;
            }
            // console.log(cart_list);
            localStorage.setItem('stone_cart', JSON.stringify(cart_list));
            // console.log(Object.values(cart_list))
            array = Object.values(cart_list)
            let sum = 0
            for (let i = 0; i < array.length; i++) {
                sum += array[i];
            }

            document.getElementById('count_cart').innerHTML = sum;
        });
        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        $(document).ready(function () {
            $(".fa-search").click(function () {
                $(".icon").toggleClass("active");
                $("input[type='text']").toggleClass("active");
            });
        });
    </script>
   {% endblock%}
    <!-- Option 1: Bootstrap Bundle with Popper -->


</body>

</html>
