{% extends 'ram_app/basic.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'r_assets/rcss/basic.css' %}">{% endblock %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;800&display=swap" rel="stylesheet">
<!-- {% block css1 %}
<!-- <style>
  /* .e-container{
      justify-content: center;
      align-items: center;
  }

  .e-container .e-row {
      display: flex;
      flex-wrap: wrap;
  }
  .e-container .e-row .e-col img{
      height:300px;
      width:290px;

  }
  .e-col {
    width: 25%;
    text-align: center;
}
.e-col:hover{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.e-container {
    max-width: 1270px;
    margin: 0 auto;
}
.e-container .e-row .e-col p{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    font-style:bold;
    font-weight: 600;
    color:rgb(78, 61, 16);
} */
    </style> -->
{% endblock %} -->
{% block body %}
<h1>Emerald</h1>
<hr>
<div class="e-container">
    <div class="e-row">
    {% for i in emerald_list %}
   
        <div class="e-col">
            <a href="prodview" style="text-decoration: none;"><img src="/media/{{i.image}}" alt="...">
            <p>{{i.d_carat}}<br>{{i.d_shape}}<br>{{i.emerald_name}}</p>
        </div></a>
    
{% endfor %}
</div>
</div>
{% endblock %}