{% extends 'ram_app/basic.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'r_assets/rcss/style.css' %}">{% endblock %}
<!-- {% block css1 %}
<style>
    .container {
        background-color: whitesmoke;
    }

    .container .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container .row .col {

        height: 580px;
        width: 350px;
        border: 2px solid rgb(190, 156, 68);
        margin: 10px 20px;
        box-shadow: 3px 4px 2px rgb(199, 162, 69);
    }
    .container .row .col:hover{
        box-shadow: 3px 4px 2px rgb(199, 162, 69),-3px -4px 2px rgb(199, 162, 69)

    }

    .container .row .col .card {
        justify-content: center;
        align-items: center;
        height: 350px;
        width: 300px;
    }

    .container .row .col .card img {
        margin-left: 22px;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 300px;
    }

    .container .row .col .card h5 {
        font-family: 'Playfair Display', serif;
        color: rgb(51, 51, 45);
        text-align: center;
        font-size: 1.5rem;
        margin:10px;
        
    }

    .container .row .col .card p {
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(51, 51, 45);
        text-align: center;
        font-size: 1.2rem;
        margin:10px;
        
    }
    .container .row .col .card .card-body button{
        margin-left:50px;
        background-color:rgb(134, 202, 160);
        text-decoration: none;
        border-radius:10px;
    }
    .btn{
    margin:1px;
    justify-content: center;
    align-items: center;
    padding: 5px 2px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    transition: all 0.2s ease-out 0s;
    }

</style>
{% endblock %} -->
{% block body %}
<h1>Ruby</h1>
<hr>
<div class="e-container">
    <div class="e-row">
        {% for i in ruby_list %}
        <div class="e-col">
            <a href="prodview" style="text-decoration: none;"><img src="/media/{{i.image}}" alt="...">
                <p>{{i.d_carat}}<br>{{i.d_shape}}<br>{{i.ruby_name}}</p>
        </div></a>
        {% endfor %}
    </div>

</div>
{% endblock %}