{% extends 'ram_app/basic.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'r_assets/rcss/basic.css' %}">
{% endblock %}
{% block body %}
    <h1 style="color:red">Hello print</h1>
    {% for i in s_sto %}
    <div class="row">
        <div class="col">
            <a href="{{i.path}}"><img src="/media/{{i.image}}"></a>
            <div class="p_desc">
                <p>{{i.p_name}}</p>
            </div>
        </div>
    </div>{% endfor %}
      

{% endblock %}
